swagger: '2.0'
info:
  version: '1.0'
  title: Tesla Model S JSON API
  description: 'TODO: Add a description'
host: owner-api.teslamotors.com
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /oauth/token:
    post:
      description: |-
        Performs the login. Takes in an plain text email and password, matching the owner's login information for [https://my.teslamotors.com/user/login](https://my.teslamotors.com/user/login).
        Returns a `access_token` which is passed along as a header with all future requests to authenticate the user.
        You must provide the `Authorization: Bearer {access_token}` header in all other requests.
        The current client ID and secret are [available here](http://pastebin.com/YiLPDggh)
      summary: Get an Access Token
      tags:
        - Authentication
      operationId: CreateOauthToken
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/CreateAccessTokenRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CreateAccessTokenResponse'
  /api/1/vehicles:
    get:
      description: Retrieve a list of your owned vehicles (includes vehicles not yet shipped!)
      summary: List all Vehicles
      tags:
        - Vehicles
      operationId: GetVehicles
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetVehiclesResponse'
  '/api/1/vehicles/{vehicle_id}':
    get:
      description: Retrieve a specific vehicle
      summary: Retrieve a vehicle
      tags:
        - Vehicles
      operationId: GetVehicle
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VehicleResponse'
          examples:
            application/json:
              response:
                  color: null
                  display_name: null
                  id: 321
                  option_codes: 'MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013'
                  user_id: 123
                  vehicle_id: 1234567890
                  vin: 5YJSA1CN5CFP01657
                  tokens:
                    - x
                    - x
                  state: online
  '/api/1/vehicles/{vehicle_id}/mobile_enabled':
    get:
      description: Determines if mobile access to the vehicle is enabled.
      summary: Mobile Access
      tags:
        - Vehicles
      operationId: GetVehicleMobileEnabled
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/MobileAccessResponse'
  '/api/1/vehicles/{vehicle_id}/data_request/charge_state':
    get:
      description: Returns the state of charge in the battery.
      summary: Charge State
      tags:
        - Vehicles
      operationId: GetVehicleChargeState
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ChargeStateResponse'
  '/api/1/vehicles/{vehicle_id}/data_request/climate_state':
    get:
      description: Returns the current temperature and climate control state.
      summary: Climate Settings
      tags:
        - Vehicles
      operationId: GetVehicleClimateState
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ClimateSettingsResponse'
  '/api/1/vehicles/{vehicle_id}/data_request/drive_state':
    get:
      description: Returns the driving and position state of the vehicle.
      summary: Driving and Position
      tags:
        - Vehicles
      operationId: GetVehicleDriveState
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/DriveStateResponse'
  '/api/1/vehicles/{vehicle_id}/data_request/gui_settings':
    get:
      description: 'Returns various information about the GUI settings of the car, such as unit format and range display.'
      summary: GUI Settings
      tags:
        - Vehicles
      operationId: GetVehilceGuiSettings
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GuistateResponse'
  '/api/1/vehicles/{vehicle_id}/data_request/vehicle_state':
    get:
      description: 'Returns the vehicle''s physical state, such as which doors are open.'
      summary: Vehicle State
      tags:
        - Vehicles
      operationId: GetVehicleState
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VehicleStateResponse'
  '/api/1/vehicles/{vehicle_id}/data_request/vehicle_config':
    get:
      description: 'Returns the vehicle''s configuration'
      summary: Vehicle Config
      tags:
        - Vehicles
      operationId: GetVehicleConfig
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VehicleConfigResponse'
  '/api/1/vehicles/{vehicle_id}/data':
    get:
      description: 'Returns all vehicle ∂ata, potentially cached'
      summary: Vehicle Data
      tags:
        - Vehicles
      operationId: GetVehicleData
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VehicleDataResponse'
  '/api/1/vehicles/{vehicle_id}/wake_up':
      post:
        description: Wakes up the car from the sleep state. Necessary to get some data from the car.
        summary: Wake Up Car
        tags:
          - Vehicle Commands
        operationId: WakeUpVehicle
        produces:
          - application/json
        parameters:
          - name: vehicle_id
            in: path
            required: true
            type: string
            description: The id of the Vehicle.
        responses:
          '200':
            description: ''
            schema:
              $ref: '#/definitions/WakeUpResponse'
  '/api/1/vehicles/{vehicle_id}/command/wake_up':
    post:
      description: Wakes up the car from the sleep state. Necessary to get some data from the car.
      summary: Wake Up Car
      tags:
        - Vehicle Commands
      operationId: WakeUpVehicleCommand
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/set_valet_mode':
    post:
      description: |-
        Sets valet mode on or off with a PIN to disable it from within the car. Reuses last PIN from previous valet session.
        Valet Mode limits the car's top speed to 70MPH and 80kW of acceleration power. It also disables Homelink, Bluetooth and
        Wifi settings, and the ability to disable mobile access to the car. It also hides your favorites, home, and work
        locations in navigation.
      summary: Set Valet Mode
      tags:
        - Vehicle Commands
      operationId: ToggleValetMode
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/SetValetRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/reset_valet_pin':
    post:
      description: 'Resets the PIN set for valet mode, if set.'
      summary: Reset Valet PIN
      tags:
        - Vehicle Commands
      operationId: ResetValetPin
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/charge_port_door_open':
    post:
      description: Opens the charge port. Does not close the charge port (for now...). This endpoint also unlocks the charge port if it's locked.
      summary: Open Charge Port
      tags:
        - Vehicle Commands
      operationId: OpenChargePort
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/charge_port_door_close':
    post:
      description: Closes the charge port.
      summary: Close Charge Port
      tags:
        - Vehicle Commands
      operationId: CloseChargePort
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/charge_standard':
    post:
      description: Set the charge mode to standard (90% under the new percentage system introduced in 4.5).
      summary: Set Charge Limit to Standard
      tags:
        - Vehicle Commands
      operationId: SendStandardChargeLimit
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/charge_max_range':
    post:
      description: Set the charge mode to max range (100% under the new percentage system introduced in 4.5). Use sparingly!
      summary: Set Charge Limit to Max Range
      tags:
        - Vehicle Commands
      operationId: SetMaxChargeLimit
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/set_charge_limit':
    post:
      description: Set the charge limit to a custom percentage.
      summary: Set Charge Limit
      tags:
        - Vehicle Commands
      operationId: SetChargeLimit
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetChargeLimitRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/charge_start':
    post:
      description: 'Start charging. Must be plugged in, have power available, and not have reached your charge limit.'
      summary: Start Charging
      tags:
        - Vehicle Commands
      operationId: StartCharge
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/charge_stop':
    post:
      description: Stop charging. Must already be charging.
      summary: Stop Charging
      tags:
        - Vehicle Commands
      operationId: StopCharge
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/nearby_charging_sites':
    get:
      description: Get a list of nearby charging sites
      summary: Get Nearby Chargers
      tags:
      - Vehicles
      operationId: NearbyChargers
      produces:
      - application/json
      parameters:
      - name: vehicle_id
        in: path
        required: true
        type: string
        description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/NearbyChargerResponse'
  '/api/1/vehicles/{vehicle_id}/command/flash_lights':
    post:
      description: Flash the lights once.
      summary: Flash Lights
      tags:
        - Vehicle Commands
      operationId: FlashLights
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/honk_horn':
    post:
      description: Honk the horn once.
      summary: Honk Horn
      tags:
        - Vehicle Commands
      operationId: HonkHorn
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/door_unlock':
    post:
      description: Unlock the car's doors.
      summary: Unlock Doors
      tags:
        - Vehicle Commands
      operationId: UnlockDoors
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/door_lock':
    post:
      description: Lock the car's doors.
      summary: Lock Doors
      tags:
        - Vehicle Commands
      operationId: LockDoors
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/set_temps':
    post:
      description: Set the temperature target for the HVAC system.
      summary: Set Temperature
      tags:
        - Vehicle Commands
      operationId: SetTemperatures
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetTempsRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/auto_conditioning_start':
    post:
      description: 'Start the climate control system. Will cool or heat automatically, depending on set temperature.'
      summary: Start HVAC System
      tags:
        - Vehicle Commands
      operationId: StartHVAC
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/auto_conditioning_stop':
    post:
      description: Stop the climate control system.
      summary: Stop HVAC System
      tags:
        - Vehicle Commands
      operationId: StopHVAC
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/remote_seat_heater_request':
      post:
        description: |-
          Set the heating level of a seat heater
        summary: Set Seat Heater Level
        tags:
          - Vehicle Commands
        operationId: RemoteSeatHeaterRequest
        produces:
          - application/json
        parameters:
          - name: vehicle_id
            in: path
            required: true
            type: string
            description: The id of the Vehicle.
          - name: body
            in: body
            required: true
            description: ''
            schema:
              $ref: '#/definitions/RemoteSeatHeaterRequest'
        responses:
          '200':
            description: ''
            schema:
              $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/remote_steering_wheel_heater_request':
      post:
        description: |-
          Toggle the steering wheel heater
        summary: Toggle Steering Wheel Heater
        tags:
          - Vehicle Commands
        operationId: RemoteSteeringWheelHeaterRequest
        produces:
          - application/json
        parameters:
          - name: vehicle_id
            in: path
            required: true
            type: string
            description: The id of the Vehicle.
          - name: body
            in: body
            required: true
            description: ''
            schema:
              $ref: '#/definitions/RemoteSteeringWheelHeaterRequest'
        responses:
          '200':
            description: ''
            schema:
              $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/sun_roof_control':
    post:
      description: 'Controls the car''s panoramic roof, if installed.'
      summary: Move Pano Roof
      tags:
        - Vehicle Commands
      operationId: OpenSunroof
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/MovePanoRoofRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/remote_start_drive':
    post:
      description: Start the car for keyless driving. Must start driving within 2 minutes of issuing this request.
      summary: Remote Start
      tags:
        - Vehicle Commands
      operationId: RemoteStart
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoteStartRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/actuate_trunk':
    post:
      description: Open the trunk or frunk. Currently inoperable.
      summary: Open Trunk/Frunk
      tags:
        - Vehicle Commands
      operationId: OpenTrunk
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/OpenTrunkRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
          examples:
            application/json:
              response:
                result: true
                reason: ''
  '/api/1/vehicles/{vehicle_id}/command/speed_limit_activate':
      post:
        description: |-
          Activates Speed Limit
        summary: Activate Speed Limit
        tags:
          - Vehicle Commands
        operationId: ActivateSpeedLimit
        produces:
          - application/json
        parameters:
          - name: vehicle_id
            in: path
            required: true
            type: string
            description: The id of the Vehicle.
          - name: body
            in: body
            required: true
            description: ''
            schema:
              $ref: '#/definitions/SpeedLimitRequest'
        responses:
          '200':
            description: ''
            schema:
              $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/speed_limit_deactivate':
        post:
          description: |-
            Deactivates Speed Limit
          summary: Deactivate Speed Limit
          tags:
            - Vehicle Commands
          operationId: DeactivateSpeedLimit
          produces:
            - application/json
          parameters:
            - name: vehicle_id
              in: path
              required: true
              type: string
              description: The id of the Vehicle.
            - name: body
              in: body
              required: true
              description: ''
              schema:
                $ref: '#/definitions/SpeedLimitRequest'
          responses:
            '200':
              description: ''
              schema:
                $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/speed_limit_set_limit':
        post:
          description: |-
            Sets Speed Limit
          summary: Set Speed Limit
          tags:
            - Vehicle Commands
          operationId: SetSpeedLimit
          produces:
            - application/json
          parameters:
            - name: vehicle_id
              in: path
              required: true
              type: string
              description: The id of the Vehicle.
            - name: body
              in: body
              required: true
              description: ''
              schema:
                $ref: '#/definitions/SetSpeedLimitRequest'
          responses:
            '200':
              description: ''
              schema:
                $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/speed_limit_clear_pin':
        post:
          description: |-
            Clears Speed Limit Pin
          summary: Clear Speed Limit Pin
          tags:
            - Vehicle Commands
          operationId: ClearSpeedLimitPin
          produces:
            - application/json
          parameters:
            - name: vehicle_id
              in: path
              required: true
              type: string
              description: The id of the Vehicle.
            - name: body
              in: body
              required: true
              description: ''
              schema:
                $ref: '#/definitions/SpeedLimitRequest'
          responses:
            '200':
              description: ''
              schema:
                $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/navigation_request':
          post:
            description: |-
              Sends Navigation Request to Vehicle
            summary: Send Navigation Request
            tags:
              - Vehicle Commands
            operationId: NavigationRequest
            produces:
              - application/json
            parameters:
              - name: vehicle_id
                in: path
                required: true
                type: string
                description: The id of the Vehicle.
              - name: body
                in: body
                required: true
                description: ''
                schema:
                  $ref: '#/definitions/NavigationRequestRequest'
            responses:
              '200':
                description: ''
                schema:
                  $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/share':
    post:
      description: |-
        Sends Data to Vehicle (v10 only)
      summary: Share data to Vehicle
      tags:
        - Vehicle Commands
      operationId: SharetoVehicle
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/ShareRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/media_toggle_playback':
            post:
              description: |-
                Pause/Play Media
              summary: Pause/Play Media
              tags:
                - Media Control
              operationId: MediaTogglePlayback
              produces:
                - application/json
              parameters:
                - name: vehicle_id
                  in: path
                  required: true
                  type: string
                  description: The id of the Vehicle.
              responses:
                '200':
                  description: ''
                  schema:
                    $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/media_next_track':
            post:
              description: |-
                Next Track
              summary: Next Track
              tags:
                - Media Control
              operationId: MediaNextTrack
              produces:
                - application/json
              parameters:
                - name: vehicle_id
                  in: path
                  required: true
                  type: string
                  description: The id of the Vehicle.
              responses:
                '200':
                  description: ''
                  schema:
                    $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/media_prev_track':
            post:
              description: |-
                Previous Track
              summary: Previous Track
              tags:
                - Media Control
              operationId: MediaPrevTrack
              produces:
                - application/json
              parameters:
                - name: vehicle_id
                  in: path
                  required: true
                  type: string
                  description: The id of the Vehicle.
              responses:
                '200':
                  description: ''
                  schema:
                    $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/media_next_fav':
            post:
              description: |-
                Next Favorite
              summary: Next Favorite
              tags:
                - Media Control
              operationId: MediaNextFavorite
              produces:
                - application/json
              parameters:
                - name: vehicle_id
                  in: path
                  required: true
                  type: string
                  description: The id of the Vehicle.
              responses:
                '200':
                  description: ''
                  schema:
                    $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/media_prev_fav':
            post:
              description: |-
                Previous Favorite
              summary: Previous Favorite
              tags:
                - Media Control
              operationId: MediaPrevFavorite
              produces:
                - application/json
              parameters:
                - name: vehicle_id
                  in: path
                  required: true
                  type: string
                  description: The id of the Vehicle.
              responses:
                '200':
                  description: ''
                  schema:
                    $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/media_volume_up':
            post:
              description: |-
                Volume Up
              summary: Volume Up
              tags:
                - Media Control
              operationId: MediaVolumeUp
              produces:
                - application/json
              parameters:
                - name: vehicle_id
                  in: path
                  required: true
                  type: string
                  description: The id of the Vehicle.
              responses:
                '200':
                  description: ''
                  schema:
                    $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/media_volume_down':
            post:
              description: |-
                Volume Down
              summary: Volume Down
              tags:
                - Media Control
              operationId: MediaVolumeDown
              produces:
                - application/json
              parameters:
                - name: vehicle_id
                  in: path
                  required: true
                  type: string
                  description: The id of the Vehicle.
              responses:
                '200':
                  description: ''
                  schema:
                    $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/schedule_software_update':
            post:
              description: |-
                Start Software Update
              summary: Start Software Update
              tags:
                - Vehicle Commands
              operationId: StartSoftwareUpdate
              produces:
                - application/json
              parameters:
                - name: vehicle_id
                  in: path
                  required: true
                  type: string
                  description: The id of the Vehicle.
              responses:
                '200':
                  description: ''
                  schema:
                    $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/cancel_software_update':
            post:
              description: |-
                Cancel Software Update
              summary: Cancel Software Update
              tags:
                - Vehicle Commands
              operationId: CancelSoftwareUpdate
              produces:
                - application/json
              parameters:
                - name: vehicle_id
                  in: path
                  required: true
                  type: string
                  description: The id of the Vehicle.
              responses:
                '200':
                  description: ''
                  schema:
                    $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/set_sentry_mode':
    post:
      description: |-
        Toggle Sentry Mode
      summary: Toggle Sentry Mode
      tags:
      - Vehicle Commands
      operationId: SetSentryMode
      produces:
      - application/json
      parameters:
      - name: vehicle_id
        in: path
        required: true
        type: string
        description: The id of the Vehicle.
      - name: body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/SentryModeRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/set_preconditioning_max':
    post:
      description: |-
        Set Max Defrost
      summary: Set Max Defrost
      tags:
        - Vehicle Commands
      operationId: SetMaxDefrost
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/MaxDefrostRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/window_control':
    post:
      description: |-
        Window Control
      summary: Window Control
      tags:
        - Vehicle Commands
      operationId: WindowControl
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/WindowControlRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
  '/api/1/vehicles/{vehicle_id}/command/trigger_homelink':
    post:
      description: |-
        Trigger Homelink
      summary: Trigger Homelink
      tags:
        - Vehicle Commands
      operationId: TriggerHomelink
      produces:
        - application/json
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: The id of the Vehicle.
        - name: body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/TriggerHomelinkRequest'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommandResponse'
definitions:
  CreateAccessTokenRequest:
    title: Get an Access Token request
    type: object
    properties:
      grant_type:
        description: The type of oAuth grant. Always "password"
        example: password
        type: string
      client_id:
        description: The oAuth client ID
        example: abc
        type: string
      client_secret:
        description: The oAuth client secret
        example: '123'
        type: string
      email:
        description: The email for my.teslamotors.com
        example: elon@teslamotors.com
        type: string
      password:
        description: The password for my.teslamotors.com
        example: edisonsux
        type: string
  CreateAccessTokenResponse:
    title: Get an Access Token response
    example:
      access_token: abc123
      token_type: bearer
      expires_in: 7776000
      created_at: 1457385291
      refresh_token: cba321
    type: object
    properties:
      access_token:
        description: ''
        example: abc123
        type: string
      token_type:
        description: ''
        example: bearer
        type: string
      expires_in:
        description: ''
        example: 7776000
        type: integer
        format: int32
      created_at:
        description: ''
        example: 1457385291
        type: integer
        format: int32
      refresh_token:
        description: ''
        example: cba321
        type: string
    required:
      - access_token
      - token_type
      - expires_in
      - created_at
      - refresh_token
  SetValetRequest:
    title: Set Valet Mode
    example:
      'on': true
      password: 1234
    type: object
    properties:
      'on':
        type: boolean
        description: Whether to enable or disable valet mode.
      password:
        type: string
        description: (optional) A 4 digit PIN code to unlock the car.
  SpeedLimitRequest:
      title: Speed Limit Request
      example:
        pin: 1234
      type: object
      properties:
        pin:
          type: string
          description: The current, or if activating, new, speed limit PIN
  SetSpeedLimitRequest:
        title: Set Speed Limit Request
        example:
          limit_mph: 75
        type: object
        properties:
          limit_mph:
            type: integer
            format: int32
            description: The speed limit to set, in Miles per Hour
  MovePanoRoofRequest:
    title: Move Panoramic Roof
    example:
      state: 'vent'
    type: object
    properties:
      state:
        enum:
          - open
          - close
          - comfort
          - vent
          - move
        x-enum-elements:
          - name: open
            description: ''
          - name: close
            description: ''
          - name: comfort
            description: ''
          - name: vent
            description: ''
          - name: move
            description: ''
        type: string
        description: 'The desired state of the panoramic roof. The approximate percent open values for each state are `open` = 100%, `close` = 0%, `comfort` = 80%, and `vent` = ~15%'
      percent:
        type: number
        format: double
        description: The percentage to move the roof to.
  RemoteSeatHeaterRequest:
    title: Remote Seat Heater
    example:
      heater: 0
      level: 2
    type: object
    properties:
      heater:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
        type: integer
        format: int32
        description: 'The desired seat to adjust the heater for.  SeatHeaterFrontLeft: 0, SeatHeaterFrontRight: 1, SeatHeaterRearLeft: 2, SeatHeaterRearLeftBack: 3, SeatHeaterRearCenter: 4, SeatHeaterRearRight: 5, SeatHeaterRearRightBack: 6, SeatHeater3rdRowLeft: 7, SeatHeater3rdRowRight: 8'
      level:
        enum:
         - 1
         - 2
         - 3
        type: integer
        format: int32
        description: 'Seat heater level'
  RemoteSteeringWheelHeaterRequest:
    title: Remote Steering Wheel Heater
    example:
      'on': true
    type: object
    properties:
      'on':
        type: boolean
  SetTempsRequest:
    title: Set SetTemperatures
    example:
      driver_temp: 70.0
      passenger_temp: 72.0
    type: object
    properties:
      driver_temp:
        type: number
        format: double
        description: The desired temperature on the driver's side in celcius.
      passenger_temp:
        type: number
        format: double
        description: The desired temperature on the passenger's side in celcius.
  SetChargeLimitRequest:
    title: Set Charge Limit
    example:
      percent: 80
    type: object
    properties:
      percent:
        type: integer
        format: int32
        description: Percentage to set Charge Limit to.
  RemoteStartRequest:
    title: Remote Start
    example:
      password: hunter2
    type: object
    properties:
      password:
        type: string
        description: The password to the authenticated my.teslamotors.com account.
  OpenTrunkRequest:
    type: object
    properties:
      which_trunk:
        type: string
        description: The trunk to open. `front` or `rear
  NavigationRequestRequest:
      title: Navigation Request request
      type: object
      properties:
        type:
          type: string
          default: "share_ext_content_raw"
          example: "share_ext_content_raw"
          description: Do not change
        value:
          type: object
          properties:
            android.intent.extra.TEXT:
              type: string
              example: "45500 Fremont Blvd, Fremont, CA 94538\n\nhttps://goo.gl/maps/X"
              description: Must match this syntax "DATA_TO_SEND_TO_NAV_SYSTEM\n\nhttps://goo.gl/maps/X"
        locale:
          type: string
          default: "en-us"
          example: "en-us"
          description: Do not change
        timestamp_ms:
          type: string
          description: Unix timestamp
  ShareRequest:
    title: Share request (v10 only)
    type: object
    properties:
      type:
        type: string
        default: "share_ext_content_raw"
        example: "share_ext_content_raw"
        description: Change to "share_dest_content_coords" if using lat/long
      value:
        type: object
        properties:
          android.intent.extra.TEXT:
            type: string
            example: "45500 Fremont Blvd, Fremont, CA 94538\n\nhttps://goo.gl/maps/X"
            description: Must match this syntax "DATA_TO_SEND_TO_NAV_SYSTEM\n\nhttps://goo.gl/maps/X"
          lat:
            type: number
            format: double
            example: 123.456
            description: "Latitude of destination to send. Only send with 'long'"
          long:
            type: number
            format: double
            example: -123.456
            description: "Longitude of destination to send. Only send with 'lat'"
      locale:
        type: string
        example: "en-US"
        description: "Locale this request should be treated as"
      timestamp:
        type: number
        example: 1574041714569
        description: "UNIX timestamp indicating when this request was sent"
  SentryModeRequest:
    title: Sentry Mode
    example:
      'on': true
    type: object
    properties:
      'on':
        type: boolean
  MaxDefrostRequest:
    title: Max Defrost
    example:
        'on': true
    type: object
    properties:
      'on':
        type: boolean
  WindowControlRequest:
    title: Window Control
    example:
      lat: 123.456
      lng: -123.456
      command: vent
    type: object
    properties:
      lat:
        type: number
        format: double
      long:
        type: number
        format: double
      command:
        enum:
          - vent
          - close
        type: string
  TriggerHomelinkRequest:
    title: Trigger Homelink
    example:
      lat: 123.456
      lng: -123.456
    type: object
    properties:
      lat:
        type: number
        format: double
      long:
        type: number
        format: double
  GetVehiclesResponse:
    title: List all Vehicles response
    example:
      response:
        - color: null
          display_name: null
          id: 321
          option_codes: 'MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013'
          user_id: 123
          vehicle_id: 1234567890
          vin: 5YJSA1CN5CFP01657
          tokens:
            - x
            - x
          state: online
      count: 1
    type: object
    properties:
      response:
        type: array
        items:
          $ref: '#/definitions/Vehicle'
      count:
        description: ''
        example: 1
        type: integer
        format: int32
    required:
      - response
      - count
  Vehicle:
    properties:
      color:
        type: string
      display_name:
        type: string
      id:
        type: string
      option_codes:
        type: string
      vehicle_id:
        type: string
      vin:
        type: string
      tokens:
        type: array
        items:
          type: string
      state:
        type: string
  VehicleResponse:
    properties:
      response:
        $ref: '#/definitions/Vehicle'
  MobileAccessResponse:
    title: Mobile Access response
    example:
      response: true
    type: object
    properties:
      response:
        description: ''
        example: true
        type: boolean
    required:
      - response
  ChargeStateResponse:
    title: Charge State response
    type: object
    properties:
      response:
        $ref: '#/definitions/ChargeState'
    required:
      - response
  ChargeState:
    type: object
    properties:
      charging_state:
        type: string
      fast_charger_type:
         type: string
      fast_charger_brand:
        type: string
      charge_limit_soc:
        type: integer
      charge_limit_soc_std:
        type: integer
      charge_limit_soc_min:
        type: integer
      charge_limit_soc_max:
        type: integer
      charge_to_max_range:
        type: boolean
      max_range_charge_counter:
        type: integer
      fast_charger_present:
        type: boolean
      battery_range:
        type: number
        format: double
      est_battery_range:
        type: number
        format: double
      ideal_battery_range:
        type: number
        format: double
      battery_level:
        type: integer
      usable_battery_level:
        type: integer
      charge_energy_added:
        type: number
        format: double
      charge_miles_added_rated:
        type: number
        format: double
      charge_miles_added_ideal:
        type: number
        format: double
      charger_voltage:
        type: integer
      charger_pilot_current:
        type: integer
      charger_actual_current:
        type: integer
      charger_power:
        type: integer
      time_to_full_charge:
        type: number
        format: double
      trip_charging:
        type: boolean
      charge_rate:
        type: number
        format: double
      charge_port_door_open:
        type: boolean
      conn_charge_cable:
        type: string
      scheduled_charging_start_time:
        type: string
      scheduled_charging_pending:
        type: boolean
      user_charge_enable_request:
        type: boolean
      charge_enable_request:
        type: boolean
      charger_phases:
        type: integer
      charge_port_latch:
        type: string
      charge_current_request:
       type: integer
      charge_current_request_max:
        type: integer
      managed_charging_active:
        type: boolean
      managed_charging_user_canceled:
        type: boolean
      managed_charging_start_time:
        type: number
        format: long
      battery_heater_on:
        type: boolean
      not_enough_power_to_heat:
        type: boolean
      timestamp:
        type: number
  ClimateSettingsResponse:
    title: Climate Settings response
    type: object
    properties:
      response:
        $ref: '#/definitions/ClimateState'
    required:
      - response
  ClimateState:
      type: object
      properties:
        inside_temp:
          type: number
          format: double
        outside_temp:
          type: number
          format: double
        driver_temp_setting:
          type: number
          format: double
        passenger_temp_setting:
          type: number
          format: double
        left_temp_direction:
          type: integer
        right_temp_direction:
          type: integer
        is_front_defroster_on:
          type: boolean
        is_rear_defroster_on:
          type: boolean
        fan_status:
          type: integer
        is_climate_on:
          type: boolean
        min_avail_temp:
          type: integer
        max_avail_temp:
          type: integer
        seat_heater_left:
          type: string
        seat_heater_right:
          type: string
        seat_heater_rear_left:
          type: string
        seat_heater_rear_right:
          type: string
        seat_heater_rear_center:
          type: string
        seat_heater_rear_right_back:
          type: string
        seat_heater_rear_left_back:
          type: string
        battery_heater:
          type: boolean
        battery_heater_no_power:
          type: boolean
        steering_wheel_heater:
          type: boolean
        wiper_blade_heater:
          type: boolean
        side_mirror_heaters:
          type: boolean
        is_preconditioning:
          type: boolean
        smart_preconditioning:
          type: boolean
        is_auto_conditioning_on:
          type: boolean
        defrost_mode:
          type: integer
        timestamp:
          type: number
  DriveStateResponse:
    title: Driving and Position response
    type: object
    properties:
      response:
        $ref: '#/definitions/DriveState'
    required:
      - response
  DriveState:
    type: object
    properties:
      shift_state:
        type: string
      speed:
        type: number
        format: double
      power:
        type: number
        format: double
      latitude:
        type: number
        format: double
      longitude:
        type: number
        format: double
      heading:
        type: integer
      gps_as_of:
        type: number
      native_location_supported:
        type: integer
      native_latitude:
        type: number
        format: double
      native_longitude:
        type: number
        format: double
      native_type:
        type: string
      timestamp:
        type: number
  GuistateResponse:
    title: GUI Settings response
    type: object
    properties:
      response:
        $ref: '#/definitions/GuiState'
    required:
      - response
  GuiState:
    type: object
    properties:
      gui_distance_units:
        type: string
      gui_temperature_units:
        type: string
      gui_charge_rate_units:
        type: string
      gui_24_hour_time:
        type: boolean
      gui_range_display:
        type: string
      timestamp:
        type: number
  VehicleStateResponse:
    title: Vehicle State response
    type: object
    properties:
      response:
        $ref: '#/definitions/VehicleState'
    required:
      - response
  VehicleState:
    type: object
    properties:
      api_version:
        type: integer
      autopark_state:
        type: string
      autopark_state_v2:
        type: string
      autopark_style:
        type: string
      calendar_supported:
        type: boolean
      car_version:
        type: string
      center_display_state:
        type: integer
      df:
        type: integer
      dr:
        type: integer
      ft:
        type: integer
      homelink_nearby:
        type: boolean
      last_autopark_error:
        type: string
      locked:
        type: boolean
      media_state:
        type: object
        properties:
          remote_control_enabled:
            type: boolean
      notifications_supported:
        type: boolean
      odometer:
        type: number
        format: double
      parsed_calendar_supported:
        type: boolean
      pf:
        type: integer
      pr:
        type: integer
      remote_start:
        type: boolean
      remote_start_supported:
        type: boolean
      rt:
        type: integer
      sentry_mode:
        type: boolean
      software_update:
        type: object
        properties:
          expected_duration_sec:
            type: integer
          status:
            type: string
          download_perc:
            type: integer
          install_perc:
            type: integer
          version: string
      sun_roof_percent_open:
        type: integer
      sun_roof_state:
        type: string
      timestamp:
        type: number
      valet_mode:
        type: boolean
      vehicle_name:
        type: string
      speed_limit_mode:
        type: object
        properties:
          active:
            type: boolean
          current_limit_mph:
            type: number
            format: double
          max_limit_mph:
            type: number
            format: double
          min_limit_mph:
            type: number
            format: double
          pin_code_set:
            type: boolean
      fd_window:
        type: integer
      fp_window:
        type: integer
      homelink_device_count:
        type: integer
      rd_window:
        type: integer
      rp_window:
        type: integer
      smart_summon_available:
        type: Boolean
      summon_standby_mode_enabled:
        type: Boolean
  VehicleConfigResponse:
    title: Vehicle Config response
    type: object
    properties:
      response:
        $ref: '#/definitions/VehicleConfig'
    required:
      - response
  VehicleConfig:
    type: object
    properties:
      can_actuate_trunks:
        type: boolean
      can_accept_navigation_requests:
        type: boolean
      car_special_type:
        type: string
      car_type:
        type: string
      charge_port_type:
        type: string
      eu_vehicle:
        type: boolean
      exterior_color:
        type: string
      has_ludicrous_mode:
        type: boolean
      motorized_charge_port:
        type: boolean
      perf_config:
        type: string
      plg:
        type: boolean
      rear_seat_heaters:
        type: number
      rear_seat_type:
        type: number
      rhd:
        type: boolean
      roof_color:
        type: string
      seat_type:
        type: number
      spoiler_type:
        type: string
      sun_roof_installed:
        type: number
      third_row_seats:
        type: string
      timestamp:
        type: number
      trim_badging:
        type: string
      wheel_type:
        type: string
  VehicleDataResponse:
    title: Vehicle Data Response
    type: object
    properties:
      response:
        type: object
        properties:
          color:
            type: string
          display_name:
            type: string
          id:
            type: string
          option_codes:
            type: string
          vehicle_id:
            type: string
          vin:
            type: string
          user_id:
            type: number
          tokens:
            type: array
            items:
              type: string
          state:
            type: string
          in_service:
            type: boolean
          id_s:
            type: string
          calendar_enabled:
            type: boolean
          backseat_token:
            type: string
          backseat_token_updated_at:
            type: number
          gui_settings:
            $ref: '#/definitions/GuiState'
          climate_state:
            $ref: '#/definitions/ClimateState'
          drive_state:
            $ref: '#/definitions/DriveState'
          vehicle_state:
            $ref: '#/definitions/VehicleState'
          charge_state:
            $ref: '#/definitions/ChargeState'
          vehicle_config:
            $ref: '#/definitions/VehicleConfig'
  WakeUpResponse:
      title: Wake Up Response
      type: object
      properties:
        response:
          type: object
          properties:
            id:
              type: string
            user_id:
              type: number
            vehicle_id:
              type: number
            vin:
              type: string
            display_name:
              type: string
            option_codes:
              type: string
            color:
              type: string
            tokens:
              type: array
              items:
                type: string
            state:
              type: string
            in_service:
              type: boolean
            id_s:
              type: string
            calendar_enabled:
              type: boolean
            api_version:
              type: string
            backseat_token:
              type: string
            backseat_token_updated_at:
              type: number
  CommandResponse:
    title: CommandResponse
    type: object
    properties:
      response:
        description: ''
        properties:
          result:
              type: boolean
          reason:
              type: string
        type: object
    required:
      - response
  NearbyChargerResponse:
    title: NearbyChargerResponse
    type: object
    properties:
      response:
        type: object
        properties:
          congestion_sync_time_utc_secs:
            type: number
          destination_charging:
            type: array
            items:
              $ref: '#/definitions/DestinationCharger'
          superchargers:
            type: array
            items:
              $ref: '#/definitions/Supercharger'
  DestinationCharger:
    title: DestinationCharger
    type: object
    properties:
      location:
        type: object
        properties:
          lat:
            type: number
            format: double
          long:
            type: number
            format: double
      name:
        type: string
      'type':
        type: string
        default: 'destination'
      distance_miles:
        type: number
        format: double
  Supercharger:
    title: Supercharger
    type: object
    properties:
      location:
        type: object
        properties:
          lat:
            type: number
            format: double
          long:
            type: number
            format: double
      name:
        type: string
      'type':
        type: string
        default: 'supercharger'
      distance_miles:
        type: number
        format: double
      available_stalls:
        type: number
      total_stalls:
        type: number
      site_closed:
        type: boolean
  State:
    title: state
    example: open
    x-enum-elements:
      - name: open
        description: ''
      - name: close
        description: ''
      - name: comfort
        description: ''
      - name: vent
        description: ''
      - name: move
        description: ''
    type: string
    enum:
      - open
      - close
      - comfort
      - vent
      - move